{% extends "desktop/base2.amp.html"%} {% load static %} {% block title %} PRODUTOS
<{% endblock title %} {% block content %}

    <h1 class="text-h1 home-text">Produtos</h1>
    <div class="page">
        <form method="GET" action="." target="_top">
            <div class="filter">
                <div class="filter-item">
                    <h2 class="filter-text">Vestuário:</h2>
                    <label class="" for="sex_query">
                        <input name="sex_query" type="radio" value="Feminino">Feminino
                        <input name="sex_query" type="radio" value="Masculino">Masculino
                    </label>
                    <h2 class="filter-text"> Modelo:</h2>
                    <label for="model_query">
                        <input type="radio" name="model_query" value="Vestido">Vestido
                        <input type="radio" name="model_query" value="Calsa">Calsa
                        <input type="radio" name="model_query" value="Camisa">Camisa<br>
                        <input type="radio" name="model_query" value="Regata">Regata
                        <input type="radio" name="model_query" value="Macacao">Macacão
                        <input type="radio" name="model_query" value="Short">Short
                        <input type="radio" name="model_query" value="Intima">Intima
                    </label>
                    
                </div>
        
                <div class="filter-item">
                    <h2 class="filter-text">Quanto quer gastar:</h2>
                    <div class="ranging">
                        <input class="ranging" type="range" name="price_query" min="0" value="300" max="300" step="1" list="ticks">
                        <p class="price" >0 &ensp;50 100 150 200 250 300</p>
                        <datalist id="ticks">
                            <option>0</option>
                            <option>50</option>
                            <option>100</option>
                            <option>150</option>
                            <option>200</option>
                            <option>250</option>
                            <option>300</option>
                        </datalist>
                    </div>
                        
                </div>
                <div class="filter-item">
                    <label class="filter-text" >Tamanho: <br>
                        <input type="radio" name="size_query" value="P" >P
                        <input type="radio" name="size_query" value="M" >M
                        <input type="radio" name="size_query" value="G" >G
                    </label>
                </div>
                
                <br>
                <input type="submit">
            </div>
        </form>
        <div class="all_products">
            {% for p in query %}
            <div class="product">
                <!--IMAGES-->
                <div class='img'>
                    <amp-carousel lightbox controls autoplay delay="3000" width="250"
                    height="250"
                    layout="responsive"
                    type="slides">
                    {% for pic in p.images.all %}
                        <amp-img src="{{ pic.image.url }}"
                        width="250"
                        height="150"
                        layout="responsive"
                        alt="{{ p.nome }}">
                        </amp-img>
                    {% endfor %}
                    </amp-carousel>
                </div>
                <!-- INFOS -->
                <h3 class="home-text text-h1"> {{p.nome}} </h3>
                <div class='infos'>
                    <a class='infos' href="{% url 'detail_product' p.id %}">
                        <p class="infos"> R$: {{ p.preco }} <br> TAMANHO: {{ p.model.tamanho }}</p>
                    </a>
                </div>
                <div class="cart_icon">
                    <!--ADD TO CART-->
                    <a class='cart_icon' href="{% url 'add_to_cart' p.id %}">
                        <amp-img src="{% static 'products/add_to_cart2.png' %}"
                        width="52px"
                        height="40px"
                        layout="fixed"
                        alt="add_to_cart">
                        </amp-img>
                    </a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    </body>

    {% endblock %}

    </html>