{% extends "amp/base.amp.html" %} {% block title %} ok{% endblock title %} {% block content %}


    <h1 class="car-things">ALOOOW</h1>    
    <div class="blackground-img center oppacity ">
    {% for v in veiculos %}
        <div class="blackground-img">
            <amp-carousel lightbox width="800" height="500" layout="intrinsic" type="slides">
                <amp-img src="{{v.first_image.imagem.url}}" height="300" width="300" layout="responsive"></amp-img>
                <amp-img src="{{v.second_image.imagem.url}}" height="300" width="300" layout="responsive"></amp-img>
                <amp-img src="{{v.third_image.imagem.url}}" height="300" width="300" layout="responsive"></amp-img>
                <amp-img src="{{v.fourth_image.imagem.url}}" height="300" width="300" layout="responsive"></amp-img>
            </amp-carouse>
        </div>
        <h1 class="car-things inline-block">{{v.modelo}}</h1>
        <h3 class="car-things inline-block">{{ v.ano }}</h3>
        <h3 class="car-things">{{ v.potencia }}CV</h3>
        <h2 class="car-things">R${{v.preco}}</h3>
    {% endfor %}
    </div>
    <h1 class="car-things">ALOW</h1>

{% endblock %}