{% extends 'mosaic/base_mosaic.amp.html' %}

{% block content %}
  <body>



<div class="gallery-component-tagline xs-hide">
  <div>Mercado 24h Gardenia Azul</div>
</div>
    <main id="content" class="gallery-base-content fit" role="main">
      <h1 class="gallery-landing-title flex justify-center items-center center absolute top-0 left-0 right-0 z1 mx-auto gallery-base-invert">
        Mercado 24h Gardenia Azul
      </h1>
      <amp-carousel width="100vw" height="100vh" controls="" class="gallery-landing-wall block relative">
        <div class="gallery-landing-wall-scroll relative">

  <figure class="gallery-landing-image-wrapped gallery-landing-image-wrap">
    <a href="./gallery-inner.amp.html" class="gallery-landing-image-link"></a>
    <figcaption class="gallery-landing-image-caption gallery-landing-image-caption-bottom gallery-landing-image-caption-extraleft  gallery-landing-image-caption-content">
      <h2 class="h4 regular">3 Cervejas Geladas- Corona, Stella ou Império</h2>
      <h3 class="h4 regular" role="author">Veja Mais</h3>
      <a href="./gallery-inner.amp.html" class="gallery-landing-caption-link inline-block">Somente</a>
    </figcaption>
    <div class="gallery-landing-image-transform">
      <amp-img width="8" height="12" layout="responsive" noloading="" src="../img/gallery/chair.jpg" srcset="
          ../img/gallery/chair.jpg 1x,
          ../img/gallery/chair@2x.jpg 2x
        " alt="mercado"></amp-img>
    </div>
  </figure>cezdFLVwtSnL6CauSjIbIPKgBEE=
  <figure class="gallery-landing-image-wrapped gallery-landing-image-wrap">
    <a href="./gallery-inner.amp.html" class="gallery-landing-image-link"></a>
    <figcaption class="gallery-landing-image-caption gallery-landing-image-caption-bottom  gallery-landing-image-caption-content">
      <h2 class="h4 regular" role="product">"3 Cervejas Geladas Corona, Stella ou Império"</h2>
      <h3 class="h4 regular" role="price">R$ 9.99</h3>
      <a href="./gallery-inner.amp.html" class="gallery-landing-caption-link inline-block">Veja Mais</a>
    </figcaption>
    <div class="gallery-landing-image-transform">
      <amp-img width="8" height="12" layout="responsive" noloading="" src="../img/gallery/orange.jpg" srcset="
          ../img/gallery/orange.jpg 1x,
          ../img/gallery/orange@2x.jpg 2x
        " alt="orange painted blue"></amp-img>
    </div>
  </figure>
  <figure class="gallery-landing-image-wrapped gallery-landing-image-wrap">
    <a href="./gallery-inner.amp.html" class="gallery-landing-image-link"></a>
    <figcaption class="gallery-landing-image-caption gallery-landing-image-caption-right gallery-landing-image-caption-bottom  gallery-landing-image-caption-content">

      <h3 class="h4 regular" role="author">Apenas R$9.99</h3>
      <a href="./gallery-inner.amp.html" class="gallery-landing-caption-link inline-block">View Exhibit</a>
    </figcaption>
    <div class="gallery-landing-image-transform">
      <amp-img width="51" height="31" layout="responsive" noloading="" src="../img/gallery/plant.jpg" srcset="
          ../img/gallery/plant.jpg 1x,
          ../img/gallery/plant@2x.jpg 2x
        " alt="house plant on a chair"></amp-img>
    </div>
  </figure>
  <figure class="gallery-landing-image-wrapped gallery-landing-image-wrap">
    <a href="./gallery-inner.amp.html" class="gallery-landing-image-link"></a>
    <figcaption class="gallery-landing-image-caption gallery-landing-image-caption-bottom  gallery-landing-image-caption-content">
      <h2 class="h4 regular">3 Cervejas Geladas- Corona, Stella ou Império</h2>
      <h3 class="h4 regular" role="author">R$9.99</h3>
      <a href="./gallery-inner.amp.html" class="gallery-landing-caption-link inline-block">Veja Mais</a>
    </figcaption>
    <div class="gallery-landing-image-transform">
      <amp-img width="1" height="1" layout="responsive" noloading="" src="../img/gallery/hall.jpg" srcset="
          ../img/gallery/hall.jpg 1x,
          ../img/gallery/hall@2x.jpg 2x
        " alt="colourful hallway"></amp-img>
    </div>
  </figure>
  <figure class="gallery-landing-image-wrapped gallery-landing-image-wrap">
    <a href="./gallery-inner.amp.html" class="gallery-landing-image-link"></a>
    <figcaption class="gallery-landing-image-caption  gallery-landing-image-caption-content">
      <h2 class="h4 regular">3 Cervejas Geladas- Corona, Stella ou Império</h2>
      <h3 class="h4 regular" role="author">R$9.99</h3>
      <a href="./gallery-inner.amp.html" class="gallery-landing-caption-link inline-block">Veja Mais</a>
    </figcaption>
    <div class="gallery-landing-image-transform">
      <amp-img width="8" height="12" layout="responsive" noloading="" src="../img/gallery/lamp.jpg" srcset="
          ../img/gallery/lamp.jpg 1x,
          ../img/gallery/lamp@2x.jpg 2x
        " alt="pink outdoor lamp"></amp-img>
    </div>
  </figure>
  <figure class="gallery-landing-image-wrapped gallery-landing-image-wrap">
    <a href="./gallery-inner.amp.html" class="gallery-landing-image-link"></a>
    <figcaption class="gallery-landing-image-caption gallery-landing-image-caption-extraleft  gallery-landing-image-caption-content">
      <h2 class="h4 regular">3 Cervejas - 355ml  , Antártica ou Skol</h2>
      <h3 class="h4 regular" role="author">Apenas R$9.99</h3>
      <a href="./gallery-inner.amp.html" class="gallery-landing-caption-link inline-block">Veja Mais</a>
    </figcaption>
    <div class="gallery-landing-image-transform">
      <amp-img width="12" height="8" layout="responsive" noloading="" src="../img/gallery/smoke.jpg" srcset="
          ../img/gallery/smoke.jpg 1x,
          ../img/gallery/smoke@2x.jpg 2x
        " alt="pink smoke"></amp-img>
    </div>
  </figure>
  <figure class="gallery-landing-image-wrapped gallery-landing-image-wrap">
    <a href="./gallery-inner.amp.html" class="gallery-landing-image-link"></a>
    <figcaption class="gallery-landing-image-caption  gallery-landing-image-caption-content">
      <h2 class="h4 regular">3 Cervejas -  355ml  , Antártica ou Skol</h2>
      <h3 class="h4 regular" role="author">Apenas R$9.99</h3>
      <a href="./gallery-inner.amp.html" class="gallery-landing-caption-link inline-block">Confira já</a>
    </figcaption>
    <div class="gallery-landing-image-transform">
      <amp-img width="12" height="8" layout="responsive" noloading="" src="../img/gallery/spiral.jpg" srcset="
          ../img/gallery/spiral.jpg 1x,
          ../img/gallery/spiral@2x.jpg 2x
        " alt="spiraling staircase"></amp-img>
    </div>
  </figure>
  <figure class="gallery-landing-image-wrapped gallery-landing-image-wrap">
    <a href="./gallery-inner.amp.html" class="gallery-landing-image-link"></a>
    <figcaption class="gallery-landing-image-caption  gallery-landing-image-caption-content">
      <h2 class="h4 regular">3 Cervejas -  355ml  , Antártica ou Skol</h2>
      <h3 class="h4 regular" role="author">Janet Lande</h3>
      <a href="./gallery-inner.amp.html" class="gallery-landing-caption-link inline-block">View Exhibit</a>
    </figcaption>
    <div class="gallery-landing-image-transform">
      <amp-img width="8" height="12" layout="responsive" noloading="" src="../img/gallery/stairs.jpg" srcset="
          ../img/gallery/stairs.jpg 1x,
          ../img/gallery/stairs@2x.jpg 2x
        " alt="pink residential building with outdoor staircase"></amp-img>
    </div>
  </figure>
  <figure class="gallery-landing-image-wrapped gallery-landing-image-wrap">
    <a href="./gallery-inner.amp.html" class="gallery-landing-image-link"></a>
    <figcaption class="gallery-landing-image-caption gallery-landing-image-caption-bottom  gallery-landing-image-caption-content">
      <h2 class="h4 regular">No Name</h2>
      <h3 class="h4 regular" role="author">3 Cervejas Geladas- Corona, Stella ou Império</h3>
      <a href="./gallery-inner.amp.html" class="gallery-landing-caption-link inline-block">Veja</a>
    </figcaption>
    <div class="gallery-landing-image-transform">
      <amp-img width="8" height="12" layout="responsive" noloading="" src="../img/gallery/spectrum.jpg" srcset="
          ../img/gallery/spectrum.jpg 1x,
          ../img/gallery/spectrum@2x.jpg 2x
        " alt="striped colours"></amp-img>
    </div>
  </figure>
  <figure class="gallery-landing-image-wrapped gallery-landing-image-wrap">
    <a href="./gallery-inner.amp.html" class="gallery-landing-image-link"></a>
    <figcaption class="gallery-landing-image-caption gallery-landing-image-caption-bottom gallery-landing-image-caption-right  gallery-landing-image-caption-content">
      <h2 class="h4 regular">3 Cervejas Geladas- Corona, Stella ou Império</h2>
      <h3 class="h4 regular" role="author">R$9.99</h3>
      <a href="./gallery-inner.amp.html" class="gallery-landing-caption-link inline-block">Veja</a>
    </figcaption>
    <div class="gallery-landing-image-transform">
      <amp-img width="12" height="8" layout="responsive" noloading="" src="../img/gallery/cactus.jpg" srcset="
          ../img/gallery/cactus.jpg 1x,
          ../img/gallery/cactus@2x.jpg 2x
        " alt="pink cactus"></amp-img>
    </div>
  </figure>
  <figure class="gallery-landing-image-wrapped gallery-landing-image-wrap">
    <a href="./gallery-inner.amp.html" class="gallery-landing-image-link"></a>
    <figcaption class="gallery-landing-image-caption gallery-landing-image-caption-bottom  gallery-landing-image-caption-content">
      <h2 class="h4 regular"3 Cervejas - 355ml  , Antártica ou Skol</h2>
      <h3 class="h4 regular" role="author">Apenas R$9.99</h3>
      <a href="./gallery-inner.amp.html" class="gallery-landing-caption-link inline-block">Aproveite Já</a>
    </figcaption>
    <div class="gallery-landing-image-transform">
      <amp-img width="8" height="12" layout="responsive" noloading="" src="../img/gallery/corner.jpg" srcset="
          ../img/gallery/corner.jpg 1x,
          ../img/gallery/corner@2x.jpg 2x
        " alt="corner of white building&#39;s exterior"></amp-img>
    </div>
  </figure>
  <figure class="gallery-landing-image-wrapped gallery-landing-image-wrap">
    <a href="./gallery-inner.amp.html" class="gallery-landing-image-link"></a>
    <figcaption class="gallery-landing-image-caption  gallery-landing-image-caption-content">
      <h2 class="h4 regular">3 Cervejas Geladas- Corona, Stella ou Império</h2>
      <h3 class="h4 regular" role="author">R$9.99</h3>
      <a href="./gallery-inner.amp.html" class="gallery-landing-caption-link inline-block">Veja</a>
    </figcaption>
    <div class="gallery-landing-image-transform">
      <amp-img width="1" height="1" layout="responsive" noloading="" src="../img/gallery/building.jpg" srcset="
          ../img/gallery/building.jpg 1x,
          ../img/gallery/building@2x.jpg 2x
        " alt="black and white building"></amp-img>
    </div>
  </figure>
  <figure class="gallery-landing-image-wrapped gallery-landing-image-wrap">
    <a href="./gallery-inner.amp.html" class="gallery-landing-image-link"></a>
    <figcaption class="gallery-landing-image-caption gallery-landing-image-caption-bottom gallery-landing-image-caption-extraleft  gallery-landing-image-caption-content">
      <h2 class="h4 regular">3 Cervejas Geladas- Corona, Stella ou Império</h2>
      <h3 class="h4 regular" role="author">Veja</h3>
      <a href="./gallery-inner.amp.html" class="gallery-landing-caption-link inline-block">9.99</a>
    </figcaption>
    <div class="gallery-landing-image-transform">
      <amp-img width="8" height="12" layout="responsive" noloading="" src="../img/gallery/skyline.jpg" srcset="
          ../img/gallery/skyline.jpg 1x,
          ../img/gallery/skyline@2x.jpg 2x
        " alt="sunset showing a skyline"></amp-img>
    </div>
  </figure>
  <figure class="gallery-landing-image-wrapped gallery-landing-image-wrap">
    <a href="./gallery-inner.amp.html" class="gallery-landing-image-link"></a>
    <figcaption class="gallery-landing-image-caption gallery-landing-image-caption-bottom gallery-landing-image-caption-right  gallery-landing-image-caption-content">
      <h2 class="h4 regular">Geo Breakfast</h2>
      <h3 class="h4 regular" role="author"3 Cervejas Geladas- Corona, Stella ou Império</h3>
      <a href="./gallery-inner.amp.html" class="gallery-landing-caption-link inline-block">Veja</a>
    </figcaption>
    <div class="gallery-landing-image-transform">
      <amp-img width="1" height="1" layout="responsive" noloading="" src="../img/gallery/balloon.jpg" srcset="
          ../img/gallery/balloon.jpg 1x,
          ../img/gallery/balloon@2x.jpg 2x
        " alt="colourful hot air balloon paneling"></amp-img>
    </div>
  </figure>
  <figure class="gallery-landing-image-wrapped gallery-landing-image-wrap">
    <a href="./gallery-inner.amp.html" class="gallery-landing-image-link"></a>
    <figcaption class="gallery-landing-image-caption  gallery-landing-image-caption-content">
      <h2 class="h4 regular">Alternative Reality</h2>

      <a href="./gallery-inner.amp.html" class="gallery-landing-caption-link inline-block">Vejo</a>
    </figcaption>
    <div class="gallery-landing-image-transform">
      <amp-img width="8" height="12" layout="responsive" noloading="" src="../img/gallery/lake.jpg" srcset="
          ../img/gallery/lake.jpg 1x,
          ../img/gallery/lake@2x.jpg 2x
        " alt="sunrise against a pink lake"></amp-img>
    </div>
  </figure>
  <figure class="gallery-landing-image-wrapped gallery-landing-image-wrap">
    <a href="./gallery-inner.amp.html" class="gallery-landing-image-link"></a>
    <figcaption class="gallery-landing-image-caption  gallery-landing-image-caption-content">
      <h4 class="h4 regular">Nos Chame no WhatsApp</h4>
      <h3 class="h4 regular" role="contact">(21)996212567</h3>
      <a href="./gallery-inner.amp.html" class="gallery-landing-caption-link inline-block">Fale Conosco</a>
    </figcaption>
    <div class="gallery-landing-image-transform">
      <amp-img width="8" height="12" layout="responsive" noloading="" src="../img/gallery/court.jpg" srcset="
          ../img/gallery/court.jpg 1x,
          ../img/gallery/court@2x.jpg 2x
        " alt="basketball court"></amp-img>
    </div>
  </figure>
  <figure class="gallery-landing-image-wrapped gallery-landing-image-wrap">
    <a href="./gallery-inner.amp.html" class="gallery-landing-image-link"></a>
    <figcaption class="gallery-landing-image-caption gallery-landing-image-caption-bottom gallery-landing-image-caption-right  gallery-landing-image-caption-content">
      <h2 class="h4 regular">3 Cervejas Geladas- Corona, Stella ou Império</h2>
      <h3 class="h4 regular" role="author">R$9.00</h3>
      <a href="./gallery-inner.amp.html" class="gallery-landing-caption-link inline-block">View Exhibit</a>
    </figcaption>
    <div class="gallery-landing-image-transform">
      <amp-img width="12" height="8" layout="responsive" noloading="" src="../img/gallery/jellyfish.jpg" srcset="
          ../img/gallery/jellyfish.jpg 1x,
          ../img/gallery/jellyfish@2x.jpg 2x
        " alt="pink jellyfish in a purple ocean"></amp-img>
    </div>
  </figure>
  <figure class="gallery-landing-image-wrapped gallery-landing-image-wrap">
    <a href="./gallery-inner.amp.html" class="gallery-landing-image-link"></a>
    <figcaption class="gallery-landing-image-caption gallery-landing-image-caption-bottom gallery-landing-image-caption-extraleft  gallery-landing-image-caption-content">
      <h2 class="h4 regular">Untitled</h2>
      <h3 class="h4 regular" role="author">Ian Jimenez</h3>
      <a href="./gallery-inner.amp.html" class="gallery-landing-caption-link inline-block">View Exhibit</a>
    </figcaption>
    <div class="gallery-landing-image-transform">
      <amp-img width="8" height="12" layout="responsive" noloading="" src="../img/gallery/stripe.jpg" srcset="
          ../img/gallery/stripe.jpg 1x,
          ../img/gallery/stripe@2x.jpg 2x
        " alt="black and white striped pattern"></amp-img>
    </div>
    <figure class="gallery-landing-image-wrapped gallery-landing-image-wrap">
      <a href="./gallery-inner.amp.html" class="gallery-landing-image-link"></a>
      <figcaption class="gallery-landing-image-caption gallery-landing-image-caption-bottom gallery-landing-image-caption-extraleft  gallery-landing-image-caption-content">
        <h2 class="h4 regular">Untitled</h2>
        <h3 class="h4 regular" role="author">Ian Jimenez</h3>
        <a href="./gallery-inner.amp.html" class="gallery-landing-caption-link inline-block">View Exhibit</a>
      </figcaption>
      <div class="gallery-landing-image-transform">
        <amp-img width="8" height="12" layout="responsive" noloading="" src="../img/gallery/stripe.jpg" srcset="
          ../img/gallery/stripe.jpg 1x,
          ../img/gallery/stripe@2x.jpg 2x
        " alt="black and white striped pattern"></amp-img>
      </div>
    </figure>
  </figure>
        </div>
      </amp-carousel>
    </main>
  </body>
</html>
{% endblock %}
