{% load staticfiles %}
{% load static %}
{% get_media_prefix as MEDIA_PREFIX %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Produtos</title>
<!--   ------------links   {{ Produto.foto.url }}      -->
  <link rel="stylesheet" href="{% static 'style.css' %}"
  <!-- icons ---->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>
  <h1>ADD PRODUTOS</h1>
<div class="form">
  <form enctype="multipart/form-data" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="save">
  </form>
</div>
</body>

</html>
